<form name="contactForm">
  <h1>add contact</h1>
  <div class="form-group">
    <div ng-class="{error: contactForm.name.$invalid && !contactForm.name.$pristine}">
      <label>Name</label>
      <input type="text" name="name" class="form-control" ng-model="contactController.contact.name" required>
      <span ng-show="contactForm.name.$error.required && !contactForm.name.$pristine">
          Name is required</span>
    </div>
  </div>
  <div class="form-group">
    <div ng-class="{error: contactForm.lastname.$invalid && !contactForm.lastname.$pristine}">
      <label>Last Name</label>
      <input type="text" name="lastname" class="form-control" ng-model="contactController.contact.lastname" required>
      <span ng-show="contactForm.lastname.$error.required && !contactForm.lastname.$pristine">
          Last name is required</span>
    </div>
   </div>
  <div class="form-group"> 
    <div ng-class="{error: contactForm.email.$invalid && !contactForm.email.$pristine}">
      <label>E-mail</label>
        
      <input type="email" name="email" class="form-control" ng-model="contactController.contact.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
      <div ng-messages="contactForm.email.$error" ng-messages-include="error-messages">
      <div ng-message="pattern" ng-show="!contactForm.email.$valid && !contactForm.email.$pristine">
        Please enter a valid email address!</div>
      </div>      
    </div>
  </div>
  <div class="form-group">
    <label>Country</label><br/>
  	<select name="country" id="repeatSelect" ng-model="contactController.contact.country">
      <option ng-repeat="c in contactController.countryList" value="{{c}}">{{c}}</option>
    </select>
  </div>
  <br/>
    <a class="btn btn-default" href="#/" role="button">Cancel</a>       
    <button ng-click="contactController.save()" class="btn btn-primary" ng-disabled="contactForm.$invalid">
      {{contactController.saveButtonTitle}}
    </button>
    <button ng-show="contactController.mode=='edit'" ng-click="contactController.delete()" class="btn btn-danger">Delete</button>      	
</form>
