<div>
	<div>
		<h1>address book <a type="button" class="btn btn-info" href="#/add">+</a></h1>
	</div>
	<div>
		<input class="form-control" type="search" placeholder="Search" ng-model="search"/>
	</div>		
	<br/>
	<table class="table table-striped table-hover">
		<tr>
			<th>Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Country</th>
			<th></th>
		</tr>
		<tr ng-repeat="contact in contactList.items | filter:search">		
			<td>{{ contact.name }}</td>
			<td>{{ contact.lastname }}</td>
			<td><a href="mailto:#">{{ contact.email }}</a></td>
			<td>{{ contact.country }}</td>
			<td><a href="#/edit/{{contact.id}}">[edit]</a></td>
		</tr>
	</table>
</div>